body{
    margin: 0;
}
.fill{
    float: left;
    width: 100%;
}
span{
    font-family: arial;
}
header{
    height: 80px;
}
.theme{
    background-color: deepskyblue;
}
.formCell{
    text-align: center;
    padding: 10px 0;
}
.formInputField{
    width: 100%; 
    max-width: 700px; 
    font-size: 50px; 
    background-color: white; 
    border: 1px solid lightgray; 
    padding: 3px 5px;
}
a{
    text-decoration: none;
    color: inherit;
}